{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}

{% for post in posts: %}
<div class="post">
    <h3 class="title">
        <a href="/{{ post.pub_date.strftime('%Y/%m/%d') }}/{{ post.slug }}">{{ post.title }}</a>
    </h3>
    <p class="post-details">{{ post.pub_date.strftime('%B %e, %Y') }} by {{ post.author.username }}</p>
    <p>{{ post.body|markdown }}</p>
    <div class="post-comments">
        <a href="#">({{ post.comments.count() }}) Comments</a>
    </div>
</div>
{% endfor %}

{% if not posts: %}
<p>No posts here!</p>
{% endif %}

{% endblock %}
