<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %} - The Blog Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
</head>
    <body>
        <div id="header">
            <div id="header-container">
                <div id="home">
                    <a href="/">The Blog Title</a>
                </div>
                <div id ="login">
                    {% if not session.user_id: %}
                    <a href="{{ url_for('login') }}">Login</a>
                    {% else: %}
                    <a href="/posts/new">New Post</a> | <a href="{{ url_for('logout') }}">Logout</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="container">
            <div id="main-body">
                {% for message in get_flashed_messages() %}
                <div class="message">{{ message }}</div>
                {% endfor %}
                <div>
                </div>
                {% block body %}{% endblock %}
            </div>
            <div id="sidebar">
                <div class="widget">
                    <input type="text" name="q" value="Search" />
                </div>
                <div class="widget">
                    <span class="widget-header">Recent Posts</span>
                    <ul>
                        {% for post in recent_posts: %}
                        <li><a href="/{{ post.pub_date.strftime('%Y/%m/%d') }}/{{ post.slug }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="footer-content">
                &copy;{{ current_year }} by Logan Scavo. All rights reserved.
            </div>
        </div>
    </body>
</html>
