<!doctype html>
<html>
    <head>
        <title>Test Application</title>
        <link href="/static/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>        
        <div id="main-body">
            {% for message in get_flashed_messages() %}
            <div class="message">{{ message }}</div>
            {% endfor %}
            <div>
                {% if not session.user_id: %}
                <a href="{{ url_for('login') }}">Login</a>
                {% else: %}
                <a href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
            </div>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
