{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}

{% for post in posts.items: %}
<div class="post">
    <h3 class="title">
        <a href="/{{ post.pub_date.strftime('%Y/%m/%d') }}/{{ post.slug }}">{{ post.title }}</a>
    </h3>
    <p class="post-details">{{ post.pub_date.strftime('%B %e, %Y') }} by {{ post.author.username }}</p>
    <p>{{ post.body|markdown }}</p>
    <div class="post-comments">
        <a href="#">({{ post.comments.count() }}) Comments</a>
    </div>
</div>
{% endfor %}

{% if not posts.items: %}
<p>No posts here!</p>
{% endif %}

<div class="pages">
    {% if posts.has_prev: %}
    <a href="/page/{{ posts.prev_num }}">&laquo; Previous</a>
    {% endif %}
    {% for page in posts.iter_pages(): %}
        {% if posts.page == page: %}
        &nbsp;{{ page }}&nbsp;
        {% else: %}
        &nbsp;<a href="/page/{{ page }}">{{ page }}</a>&nbsp;
        {% endif %}
    {% endfor %}
    {% if posts.has_next: %}
    <a href="/page/{{ posts.next_num }}">Next &raquo;</a>
    {% endif %}
</div>

{% endblock %}
