{% extends "layout.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block body %}

<div class="post">
    <h3 class="title">
        <a href="#">{{ post.title }}</a>
    </h3>
    {% if session.user_id: %}
    <div class="post-admin">
        <a href="/post/edit/{{ post.id }}">Edit</a>
        <a href="/post/delete/{{ post.id }}">Delete</a>
    </div>
    {% endif %}
    <span class="post-details">{{ post.pub_date.strftime('%B %e, %Y') }} by {{ post.author.username }}</span>
    <p>{{ post.body|markdown }}</p>
    <div id="comments">
        <div class="comment-list">
            {% for comment in post.comments: %}
            <div class="comment">
                <div class="comment-details">
                    <img src="http://gravatar.com/avatar/{{ comment.email_md5 }}?d=mm&r=pg&s=50" alt=""/>
                    {{ comment.username }}<br />
                    <span class="details">{{ comment.pub_date.strftime('%B %e, %Y at %-I:%M %P') }}</span>
                </div>
                {{ comment.body }}
            </div>
            {% endfor %}
        </div>
        <div class="comment-form">
            <form action="/new-comment" method="post">
                <p><input type="text" name="username" placeholder="Name *" /></p>
                <p><input type="email" name="email" placeholder="Email *" /> </p>
                <textarea name="body" rows="12"></textarea>
                <input type="hidden" name="post_id" value="{{ post.id }}" />
                <p><input type="submit" value="Post Comment" /></p>
            </form>
        </div>
    </div>
</div>

{% endblock %}
