{% extends "layout.html" %}
{% block body %}
<form method="post">
    <label>
        Username:<br />
        <input type="text" name="username" />
    </label>
    <label>
        Email:<br />
        <input type="email" name="email" />
    </label>
    <label>
        Password:<br />
        <input type="password" name="password" />
    </label>
    <label>
        Confirm password:<br />
        <input type="password" name="password-confirm" />
    </label>

    <input type="submit" value="Register &raquo;" />
</form>
{% endblock %}
